.project-item{
    display: flex;
    gap: 16px;
    transition: 0.3s;
    justify-content: space-between;
    align-items: center;
}

.project-item--reverse{
    flex-direction: row-reverse;
}

.space-elements{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 474px;
}

.space-between{
    justify-content: space-between;
}


.project-item__img{
    width: 50%;
    border-radius: 8px;
}

.project-item__title{
    font-size: 20px;
}

.button-container{
    display: flex;
    gap: 20px;
}

.project-item__button{
    padding: 6px 8px;
    border: none;
    border-radius: 8px;
    background-color: #1c1c1c;
    color: #fff; 
    cursor: pointer;

}

.technologies-container{
    display: flex;
    gap: 16px;
}

.technology-icon{
    opacity: 0.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technology-icon__name{
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width:780px) {
    .project-item__img{
        max-width: 400px;
        width: 100%;
    }
    .project-item{
        flex-direction: column;
    }

    .space-elements{
        align-items: center;
    }
}