.about{
    background-color: #f5f5f5;
}

.about p{
    margin-top: 16px;
    max-width: 584px;
    text-indent: 20px;
    line-height: 20px;
}

.about__img{
    height: 480px;
    border-radius: 30px;
}