.box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.box-content{
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.margin-elements{
    margin: 56px 0;
}


@media screen and (max-width: 780px) {
    .media-column{
        flex-direction: column;
        align-items: center;
    }
}