.projects-container{
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

@media screen and (max-width: 780px) {
    .projects-container{

        grid-template-columns: 1fr;
        justify-items: center;

    }
}